@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap');

$primary-color: #35B8E8;
$secondary-color: #051F40;
$accent-color: #29FF99;
$font-family: 'Hind', sans-serif;
$font-title: 'Cinzel', sans-serif;