@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap');

$primary-color: #35B8E8;
$secondary-color: #051F40;
$accent-color: #29FF99;
$dark-color: #0E1B26;
$font-family: 'Hind', sans-serif;
$font-title: 'Cinzel', sans-serif;

// Media Mixins
@mixin mediaSm {
    @media screen and (max-width: 501px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (max-width: 1100px) {
        @content;
    }
}

// @mixin mediaXl {
//     @media screen and (min-width: 1101px) {
//         @content;
//     }
// }