@import 'config';
@import 'utilities';
@import 'media';

body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: $font-family;
    background-color: $secondary-color;
    overflow-x: hidden;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

li {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $primary-color;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
    .brand {
        padding: 2rem;
        margin: 2rem;
        display: flex;
        gap: 1rem;

        &-logo {
            font-size: 3rem;
            color: $primary-color !important;
        }

        &-name {
            font-size: 3rem;
            color: $primary-color;
            margin-left: 1rem;
        }
    }

    .toggle-menu {
        position: relative;
        cursor: pointer;
        padding: 2rem;
        margin: 2rem;

        .hamburger-menu {
            position: relative;
            width: 50px;
            height: 5px;
            background-color: $primary-color;
            border-radius: 5px;
            transition: all 0.5s ease-in-out;

            &::before, &::after {
                content: '';
                position: absolute;
                width: 50px;
                height: 5px;
                background-color: $primary-color;
                border-radius: 5px;
                transition: all 0.5s ease-in-out;
            }

            &::before {
                transform: translateY(-16px);
            }

            &::after {
                transform: translateY(16px);
            }
        }

        &.active .hamburger-menu {
            transform: translateX(50px);
            background: transparent;

            &::before {
                transform: rotate(-45deg) translate(-35px, -35px);
            }

            &::after {
                transform: rotate(45deg) translate(-35px, 35px);
            }
        }

        .menu-items {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100px;
            width: 100px;
            border-radius: 50%;
            background-color: $secondary-color;
            z-index: -1;
            transition: all 0.5s ease-out;
            clip-path: polygon(0 0, 100% 0, 100% 95%, 0 95%);

            &.open {
                background-color: $secondary-color;
                height: 600px;
                width: 600px;

                ul {
                    height: auto;
                }
            }
            
            ul {
                position: absolute;
                overflow: hidden;
                height: 0;
                top: 55%;
                right: 55%;
                transform: translate(50%, 0%);

                li {
                    font-size: 2rem;
                    text-align: end;
                    font-weight: 600;
                }

                a:hover {
                    color: $accent-color;
                }
            }
        }
    }
}

section.hero {
    position: relative;
    @include cta-button;
    
    .slider {
        height: 100vh;
        width: 100%;

        .slide {
            position: absolute;
            width: 100%;
            clip-path: circle(0% at 95% 10%);
            transition: clip-path 1s ease-in-out;
            z-index: 1;

            &.active {
                clip-path: circle(150% at 95% 10%);
            }

            img {
                display: block;
                object-fit: cover;
                width: 100%;
                height: 100vh;
            }
    
            .info {
                position: absolute;
                top: 50%;
                left: 6rem;
                transform: translateY(-50%);
                z-index: 5;
    
                .title {
                    font-size: 4rem;
                    color: white;
                    font-family: $font-title;
                    max-width: 800px;
                }
    
                .desc {
                    font-size: 2rem;
                    color: white;
                    max-width: 700px;
                }
            }
        }

        .navigation {
            position: absolute;
            z-index: 2;
            right: 10%;
            bottom: 4rem;
            display: flex;
            gap: 3rem;

            .slide-nav {
                height: 1rem;
                width: 1rem;
                background-color: rgba($primary-color, 0.7);
                border-radius: 50%;
                cursor: pointer;
                transition: background-color 0.3s ease-in;

                &.active {
                    background-color: $accent-color;
                }
            }
        }
    }
}

section.values {
    position: relative;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark-color;

    .value-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        padding-bottom: 3rem;
        border-bottom: solid 2px rgba($secondary-color, 1);

        &-image {
            padding: 4rem;
        }

        &-info {
            color: $primary-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

            &-title {
                font-size: 3rem;
            }

            &-desc {
                font-size: 1.5rem;
                margin-top: 2rem;
                padding: 2rem;
            }
        }
    }
}

section.reviews {
    position: relative;
    padding-top: 10rem;

    .reviews-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 3rem;
        margin: 3rem;
        margin-top: 10rem;
        box-sizing: border-box;

        .review-card {
            position: relative;
            padding: 3rem;
            text-align: center;
            background-color: $dark-color;
            transition: all 0.3s ease;
            color: $primary-color;
            -webkit-box-shadow: 10px 10px 20px 0px rgba($secondary-color,0.75);
            -moz-box-shadow: 10px 10px 20px 0px rgba($secondary-color,0.75);
            box-shadow: 10px 10px 20px 0px rgba($secondary-color,0.75);

            &:hover {
                background-color: $primary-color;
                color: $secondary-color;
                -webkit-box-shadow: 10px 10px 20px 0px rgba($primary-color,0.75);
                -moz-box-shadow: 10px 10px 20px 0px rgba($primary-color,0.75);
                box-shadow: 10px 10px 20px 0px rgba($primary-color,0.75);
            }

            &-image {
                position: absolute;
                height: 250px;
                width: 250px;
                object-fit: cover;
                top: 0%;
                left: 50%;
                border-radius: 50%;
                overflow: hidden;
                transform: translate(-50%, -30%);
                z-index: 1;

                img {
                    width: 250px;
                    height: 80%;
                    object-fit: cover;
                }
            }

            &-text {
                margin-top: 6rem;
                transition: 0.3s;

                &-quote {
                    font-size: 1.5rem;
                }

                &-name {
                    font-size: 2rem;
                    margin: 0;
                }
                
                &-title {
                    font-size: 1.5rem;
                    margin: 0;
                    text-transform: uppercase;
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 20px;
                right: 30px;
                width: 80px;
                height: 80px;
                background: url(../resources/quote-right.png);
                background-size: cover;
                opacity: 0.5;
                pointer-events: none;
                transition: 0.5s;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 20px;
                left: 30px;
                width: 80px;
                height: 80px;
                background: url(../resources/quote-left.png);
                background-size: cover;
                opacity: 0.5;
                pointer-events: none;
                transition: 0.5s;
            }

            &:hover::before {
                opacity: 1;
                transform: translateY(-50px);
            }

            &:hover::after {
                opacity: 1;
                transform: translateY(50px);
            }
        }
    }
}

section.demo {
    position: relative;
    margin-top: 8rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: $dark-color;
    @include cta-button;

    .video-audio-container {
        display: flex;
        gap: 1rem;
    }

    .video-overlay {
        position: relative;
        z-index: 1;
        width: 60vw;
        margin: 4rem auto;

        &::after {
            content: '';
            position: absolute;
            top: 20px;
            left: 20px;
            bottom: -10px;
            right: -20px;
            border: solid 3px $accent-color;
            z-index: -1;
        }

        video {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .overlay {
            position: absolute;
            mix-blend-mode: overlay;
            background: rgba($primary-color, 0.8);
            top: 0;
            left: 0;
            width: 100%;
            height: 99%;
            transition: 0.3s;
        }

        .cursor {
            display: none;
        }

        &:hover {
            .overlay {
                background-color: transparent;
            }

            .cursor {
                display: block;
                position: fixed;
                z-index: 100;
                width: 100px;
                height: 100px;
                background-color: transparent;
                border: solid 2px $accent-color;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                transition: 0.15s;
                cursor: none;

                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 2rem;
                    color: $accent-color;
                    transition: all 0.2s ease;
                }
            }
        }
    }

    .info {
        position: absolute;
        top: 30%;
        left: -50px;
        transform: translateY(-50%);

        .title {
            font-size: 4rem;
            color: white;
            font-family: $font-title;
            font-weight: 600;
        }
    }

    .speakers {
        margin-top: auto;
        margin-bottom: 2rem;
        z-index: 5;
        cursor: pointer;

        img {
            height: 200px;
            width: auto;
        }

        &-left {
            right: 10%;
        } 
        
        &-right {
            left: 10%;
        }

        &.on {
            animation: speakerOn 0.5s linear infinite;
        }

        &.off {
            animation: speakerOff 4s linear infinite;
        }
    }

    .section-sub-title {
        color:$primary-color;
        font-weight: 600;
        font-size: 2.5rem;
        text-align: center;
        margin-top: 6rem;
    }

    .cta-btn {
        margin: auto;
        margin-top: 4rem;
        font-size: 3rem;
    }
}

footer {
    margin: 6rem 2rem;

    .company {
        position: relative;
        display: flex;
        justify-content: space-around;
        
        .title {
            position: relative;
            color: $primary-color;
            font-size: 2rem;
            display: table;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 50%;
                border-bottom: solid 2px $primary-color;
            }
        }

        ul {
            padding: 1rem;
        }

        li {
            margin: 0.5rem 0;
            font-size: 1.5rem;
            transition: 0.3s;
        }

        a {
            transition: 0.3s;
            &:hover {
                color: $accent-color;
            }
        }

        &-info {
            flex: 0.40;
            color: $primary-color;

            i {
                margin-right: 1rem;
                margin-top: 1rem;
            }

            &-logo {
                font-size: 4rem;
                color: $primary-color;
                margin-bottom: 1rem;
            }

            &-title {
                font-size: 1.5rem;
            }
        }
    }

}

.overflow {
    height: 1000px;
    width: 100%;
}

@keyframes speakerOn {
    0% {
        transform: scale(1);
    } 
    70% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(1.1);
    }
    90% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes speakerOff {
    0% {
        transform: translateX(0px);
    }
    85% {
        transform: translateX(5px);
    }
    90% {
        transform: translateX(-10px);
    }
    95% {
        transform: translateX(5px);
    }
    99% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes rotate-hue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}